$animation: colours 30s ease infinite;

@-webkit-keyframes colours {
  0% {
    background: #fecaca;
  }
  16.7% {
    background: #fde68a;
  }
  33.3% {
    background: #a7f3d0;
  }
  50% {
    background: #bfdbfe;
  }
  66.7% {
    background: #c7d2fe;
  }
  83.3% {
    background: #ddd6fe;
  }
  100% {
    background: #fbcfe8;
  }
}
@-moz-keyframes colours {
  0% {
    background: #fecaca;
  }
  16.7% {
    background: #fde68a;
  }
  33.3% {
    background: #a7f3d0;
  }
  50% {
    background: #bfdbfe;
  }
  66.7% {
    background: #c7d2fe;
  }
  83.3% {
    background: #ddd6fe;
  }
  100% {
    background: #fbcfe8;
  }
}
@-o-keyframes colours {
  0% {
    background: #fecaca;
  }
  16.7% {
    background: #fde68a;
  }
  33.3% {
    background: #a7f3d0;
  }
  50% {
    background: #bfdbfe;
  }
  66.7% {
    background: #c7d2fe;
  }
  83.3% {
    background: #ddd6fe;
  }
  100% {
    background: #fbcfe8;
  }
}
@keyframes colours {
  0% {
    background: #fecaca;
  }
  16.7% {
    background: #fde68a;
  }
  33.3% {
    background: #a7f3d0;
  }
  50% {
    background: #bfdbfe;
  }
  66.7% {
    background: #c7d2fe;
  }
  83.3% {
    background: #ddd6fe;
  }
  100% {
    background: #fbcfe8;
  }
}
