$default-background: rgba(221, 214, 254);
$background-alt: rgba(0, 0, 0, 0.1);
$main-content-background: rgba(255, 255, 255, 0.5);
$text: rgba(0, 37, 109, 0.9);
$text-alt: rgba(205, 35, 120, 0.7);
$accent: rgba(1, 0, 109, 0.65);
$accent-alt: rgba(57, 0, 90);
$box-shadow: 0 0 transparent, 0 0 transparent, 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
