$text: #ff51bf;
$accent: #37334e;
$navigation: #ff8b38;

// background subtle gradient
$default-background: linear-gradient(to bottom, #211339 75%, #291a4f);

// glowing text
$glow-text-foreground: #fdfdfd;
$title-glow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575;
$h1-glow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975,
 0 0 8px #03edf975;
$border-foreground: #f92aad;
$border-glow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
$links: #73f0b8;
$links-glow: 0 0 2px #100c0f, 0 0 10px #257c5575, 0 0 35px #21272475;

// tag pills
$tag-pill-foreground: #ffffff;
$tag-pill-1st-background: #03edf995;
$tag-pill-2nd-background: #f97e7295;
