$text: rgba(0, 37, 109, 0.9);
$text-accent: rgba(1, 0, 109, 0.65);
$icons: rgba(205, 35, 120, 0.7);
$separator: rgba(1, 26, 59, 0.3);
$shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
$background-accent: rgba(255, 255, 255, 0.3);

// To do eventually
@media (prefers-color-scheme: dark) {
  :root {
    $text: rgba(0, 37, 109, 0.9);
    $text-accent: rgba(1, 0, 109, 0.65);
    $icons: rgba(205, 35, 120, 0.7);
    $separator: rgba(1, 26, 59, 0.3);
    $shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    $background-accent: rgba(255, 255, 255, 0.3);
  }
}

@import 'fonts', 'animation', 'colors';

* {
  box-sizing: border-box;
}

html {
  color: $text !important;
  font-family: $font-family, sans-serif;
  line-height: 1.8;
  font-size: 18px;
}

body {
  background: $default-background;
  animation: $animation;
}

.content {
  max-width: 90%;
  padding: 2em;
  margin: 2em auto;
  border-radius: 1em;
  text-align: center;
  background: $main-content-background;
  box-shadow: $box-shadow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-titles;
  font-weight: bold;
  margin: 1rem 0;
  a {
    border-bottom: none;
  }
}

h1 {
  line-height: 1.2;
}

p,
li {
  line-height: 150%;
}

a {
  color: $accent;
  text-decoration: none;
}

header {
  margin-bottom: 32px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;

    a {
      font-size: 0.65em;
      font-style: normal;
    }
  }
}

#avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin-right: 16px;
  display: none;
}

.weblog-title {
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 0px;
  color: $accent;
}

article {
  margin: 32px 0 32px 0;

  h1 {
    color: $accent;
    text-transform: uppercase;
  }

  a {
    border-bottom: 1px dotted $text;
    font-weight: bold;
  }
}

main {
  margin: 32px 0 32px 0;
}

footer {
  margin-top: 32px;

  svg {
    width: 32px;
  }
}

hr {
  border: 1px dashed $background-alt;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  border-left: 4px solid $background-alt;
  padding-left: 1em;
  margin-left: 1em;
}

code {
  color: $accent-alt;
  background-color: $accent;
  padding: 3px;
  border-radius: 0.4em;
  font-size: 16px;
}

pre {
  background-color: $accent;
  border-radius: 0.4em;
  code {
    background-color: inherit;
  }
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
  border: 8px solid $background-alt;
  border-radius: 8px;
  display: flex;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-info-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  font-size: 0.8em;
}

.post-info {
  color: $text-alt;
  text-transform: uppercase;
  font-weight: bold;
}

.post-info i:nth-child(2) {
  margin-left: 0.75em;
}

.tag {
  padding: 0.3em 0.4em;
  margin: 0.8em 0 0 0.4em;
  border-radius: 0.5em;
  text-decoration: none;
  display: inline-block;
}

@import 'media';
