@import 'fonts', 'colors';

* {
 box-sizing: border-box;
}

html,
body {
 min-height: 100%;
 margin: 0;
 background-image: $default-background;
 background-repeat: no-repeat;
 background-attachment: fixed;
}

html {
 color: $text;
 font-family: $font-family, sans-serif;
 line-height: 1.8;
 font-size: 18px;
}

.content {
 max-width: 90%;
 margin: 2em auto;
 border-radius: 1em;
 text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: $font-family-titles, sans-serif;
 color: $glow-text-foreground;
 font-weight: bold;
 margin: 1rem 0;
}

h1 {
 line-height: 1.2;
 text-shadow: $h1-glow;
}

p,
li {
 line-height: 150%;
}

a {
 color: $links;
 text-shadow: $links-glow;
 text-decoration: none;

 &:hover {
  color: $glow-text-foreground;
  transition: color 0.5s ease-in-out;
 }
}

header {
 margin-bottom: 32px;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;

 h1 {
  margin: 0;

  a {
   font-size: 0.65em;
   font-style: normal;
  }
 }
}

#avatar {
 width: 50px;
 height: 50px;
 border-radius: 50%;
 border: none;
 margin-right: 16px;
 display: none;
}

.weblog-title {
 font-size: 1.8em;
 text-transform: uppercase;
 font-weight: bold;
 padding-bottom: 0px;
 text-shadow: $title-glow;
}

nav {
 ul {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;

  li {
   margin-left: 12px;
   font-weight: bold;
   a {
    color: $navigation;
    text-shadow: $title-glow;
   }

   &:first-of-type {
    margin-left: 0;
   }
  }
 }
}

.header-container {
 display: flex;
 align-items: center;
}

article {
 margin: 32px 0 32px 0;

 h1 {
  text-transform: uppercase;
 }

 a {
  font-weight: bold;
 }

 p:last-of-type {
  margin-bottom: 0;
 }

 ul {
  width: 80%;
  margin: 0 auto;
  li {
   margin-bottom: 16px;
   display: grid;
   grid-template-columns: 0 1fr;
   gap: 1.75em;
   align-items: start;
   line-height: 1.25;

   &:before {
    color: $links;
    text-shadow: $links-glow;
    content: '↪';
    font-size: 1.25em;
   }
  }
 }
}

main {
 margin: 32px 0 32px 0;
}

footer {
 margin-top: 32px;

 img {
  width: 32px;
  border: none;
 }
}

hr {
 border: 1px dashed $border-foreground;
 box-shadow: $border-glow;
 overflow: hidden;
 margin-left: auto;
 margin-right: auto;
}

blockquote {
 border-left: 4px solid $border-foreground;
 box-shadow: $border-glow;
 padding-left: 1em;
 margin-left: 1em;
}

code {
 color: $tag-pill-foreground;
 background-color: $accent;
 padding: 3px;
 border-radius: 0.4em;
 font-size: 16px;
}

pre {
 background-color: $accent;
 border-radius: 0.4em;
 code {
  background-color: inherit;
 }
}

img,
video,
iframe {
 max-width: 100%;
 height: auto;
 border: 8px solid $border-foreground;
 border-radius: 8px;
 display: flex;
 margin: 0 auto;
}

ul {
 list-style: none;
 padding: 0;
 margin: 0;
}

.post-info-container {
 display: flex;
 width: 80%;
 margin: 0 auto;
 justify-content: space-around;
 font-size: 0.8em;

 .post-info {
  color: $links;
  text-shadow: $links-glow;
  text-transform: uppercase;
  font-weight: bold;
 }

 .post-info i:nth-child(2) {
  margin-left: 0.75em;
 }

 .tag {
  margin: 0 8px 0 0;
  border-radius: 5px;
  padding: 0px 10px;
  color: $tag-pill-foreground;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
 }

 .post-tags > a:nth-of-type(odd) {
  background-color: $tag-pill-1st-background;
 }
 .post-tags > a:nth-of-type(even) {
  background-color: $tag-pill-2nd-background;
 }
}

iframe {
 height: 400px;
 width: 100%;
 margin: 24px auto;
}

@import 'media';
