@charset "UTF-8";
@import url("https://static.omg.lol/type/font-lato-regular.css");
@import url("https://static.omg.lol/type/font-lato-bold.css");
@import url("https://static.omg.lol/type/font-lato-italic.css");
@import url("https://static.omg.lol/type/fontawesome-free/css/all.css");
@import url("https://static.omg.lol/type/font-mint-grotesk-regular.css");
@import url("https://static.omg.lol/type/font-mint-grotesk-bold.css");
@import url("https://static.omg.lol/type/font-mint-grotesk-italic.css");
* {
  box-sizing: border-box; }

html {
  color: #ff51bf !important;
  font-family: "Mint Grotesk", sans-serif;
  line-height: 1.8;
  font-size: 18px;
  height: 100%; }

body {
  background-image: linear-gradient(to bottom, #2a2139 75%, #34294f);
  height: 100%; }

.content {
  max-width: 90%;
  margin: 2em auto;
  border-radius: 1em;
  text-align: center; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  color: #fdfdfd;
  font-weight: bold;
  margin: 1rem 0; }

h1 {
  line-height: 1.2;
  text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975; }

p,
li {
  line-height: 150%; }

a {
  color: #73f0b8;
  text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5575, 0 0 35px #21272475;
  text-decoration: none; }
  a:hover {
    color: #fdfdfd;
    transition: color 0.5s ease-in-out; }

header {
  margin-bottom: 32px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }
  header h1 {
    margin: 0; }
    header h1 a {
      font-size: 0.65em;
      font-style: normal; }

#avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin-right: 16px;
  display: none; }

.weblog-title {
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 0px;
  text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575; }

nav ul {
  display: flex;
  justify-content: center;
  margin-bottom: 32px; }
  nav ul li {
    margin-left: 12px;
    font-weight: bold; }
    nav ul li a {
      color: #ff8b38;
      text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575; }
    nav ul li:first-of-type {
      margin-left: 0; }

.header-container {
  display: flex;
  align-items: center; }

article {
  margin: 32px 0 32px 0; }
  article h1 {
    text-transform: uppercase; }
  article a {
    font-weight: bold; }
  article p:last-of-type {
    margin-bottom: 0; }
  article ul {
    width: 80%;
    margin: 0 auto; }
    article ul li {
      margin-bottom: 16px;
      display: grid;
      grid-template-columns: 0 1fr;
      gap: 1.75em;
      align-items: start;
      line-height: 1.25; }
      article ul li:before {
        color: #73f0b8;
        text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5575, 0 0 35px #21272475;
        content: '↪';
        font-size: 1.25em; }

main {
  margin: 32px 0 32px 0; }

footer {
  margin-top: 32px; }
  footer img {
    width: 32px;
    border: none; }

hr {
  border: 1px dashed #f92aad;
  box-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }

blockquote {
  border-left: 4px solid #f92aad;
  box-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
  padding-left: 1em;
  margin-left: 1em; }

code {
  color: #ffffff;
  background-color: #37334e;
  padding: 3px;
  border-radius: 0.4em;
  font-size: 16px; }

pre {
  background-color: #37334e;
  border-radius: 0.4em; }
  pre code {
    background-color: inherit; }

img,
video,
iframe {
  max-width: 100%;
  height: auto;
  border: 8px solid #f92aad;
  border-radius: 8px;
  display: flex;
  margin: 0 auto; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.post-info-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  font-size: 0.8em; }
  .post-info-container .post-info {
    color: #73f0b8;
    text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5575, 0 0 35px #21272475;
    text-transform: uppercase;
    font-weight: bold; }
  .post-info-container .post-info i:nth-child(2) {
    margin-left: 0.75em; }
  .post-info-container .tag {
    margin: 0 8px 0 0;
    border-radius: 5px;
    padding: 0px 10px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    display: inline-block; }
  .post-info-container .post-tags > a:nth-of-type(odd) {
    background-color: #03edf995; }
  .post-info-container .post-tags > a:nth-of-type(even) {
    background-color: #f97e7295; }

iframe {
  height: 400px;
  width: 100%;
  margin: 24px auto; }

@media (min-width: 800px) {
  .weblog-title {
    font-size: 3em; }
  .content {
    max-width: 950px;
    padding: 2em; }
  header #avatar {
    display: inline-block; }
  .photos-grid-container {
    display: grid !important; }
    .photos-grid-container .photos-grid-item {
      width: 200px;
      height: 200px; } }
